<footer id="footer">
    <div class="container">
        <div class="footer__container">
            <div class="footer__pages">
                <h4 class="pages__title">Pages</h4>
                <a href="#" class="footer-nav">Home</a>
                <a href="#" class="footer-nav">Product</a>
                <a href="#" class="footer-nav">Pricing</a>
                <a href="#" class="footer-nav">About</a>
                <a href="#" class="footer-nav">Contact</a>
            </div>
            <div class="footer__tomothy">
                <h4 class="tomothy__title">Tomothy</h4>
                <a href="#" class="footer-nav">Eleanor Edwards</a>
                <a href="#" class="footer-nav">Ted Robertson</a>
                <a href="#" class="footer-nav">Annette Russell</a>
                <a href="#" class="footer-nav">Jennie Mckinney</a>
                <a href="#" class="footer-nav">Gloria Richards</a>
            </div>
            <div class="footer__black">
                <h4 class="black__title">Jane Black</h4>
                <a href="#" class="footer-nav">Philip Jones</a>
                <a href="#" class="footer-nav">Product</a>
                <a href="#" class="footer-nav">Colleen Russell</a>
                <a href="#" class="footer-nav">Marvin Hawkins</a>
                <a href="#" class="footer-nav">Bruce Simmmons</a>
            </div>
            <div class="footer__details">
                <div class="footer__map">
                    <img class="footer__map-img" width="35" src="img/map-white.png" alt="address">
                    <p class="footer__map-text">7480 Mockingbird Hill undefined</p>
                </div>
                <div class="footer__phone">
                    <img class="footer__phone-img" width="30" src="img/phone-white.png" alt="phone">
                    <a href="tel:+1(843)5550130" class="footer__phone-text">+1(843) 555-0130</p>
                </div>
                <div class="footer__socials">
                    <a href="#" class="social"><img class="twitter" width="30" height="27" src="img/twitter.png"
                            alt="twitter"></a>
                    <a href="#" class="social"><img class="facebook" width="32" height="32" src="img/facebook.png"
                            alt="facebook"></a>
                    <a href="#" class="social"><img class="linkedin" width="32" height="32" src="img/linkedin.png"
                            alt="linkedin"></a>
                </div>
            </div>
        </div>
        <div class="footer__copyright">
            <p>©2023 Figma Land. ALL RIGHTS RESERVED</p>
        </div>
    </div>
</footer>