<section id="subscribe">
    <div class="container">
        <div class="subscribe__container">
            <img class="subscribe__img" src="img/subscribe.png" alt="laptop">
            <div class="subscribe__content">
                <p class="subscribe__subtitle">At your fingertips</p>
                <h2 class="subscribe__title">Lightning fast prototyping</h2>
                <h3 class="subscribe__form-title">Subscribe to our Newsleter</h3>
                <p class="subscribe__form-subtitle">Available exclusivery on Figmaland</p>
                <form class="form" method="post" action="https://formspree.io/f/mvojooqq">
                    <input type="email" id="subscribe-email" name="email" placeholder="Your Email" required>
                    <button id="submit" value="Subscribe">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</section>