<section class="features">
    <div class="container">
        <div class="header__intro">
            <h2>Features</h2>
            <p>Most calendars are designed for teams. Slate is designed for freelancers</p>
        </div>
        <div class="features__container">
            <article class="features__item">
                <img width="50" class="features__item-img" src="img/figure.png" alt="figure">
                <h3 class="features__item-title">OpenType features Variable fonts
                </h3>
                <p class="features__item-description">Slate helps you see how many more days you need to work to reach
                    your
                    financial goal.</p>
            </article>
            <article class="features__item">
                <img width="50" class="features__item-img" src="img/draw.png" alt="draw">
                <h3 class="features__item-title">Design with real data
                </h3>
                <p class="features__item-description">Slate helps you see how many more days you need to work to reach
                    your
                    financial goal.</p>
            </article>
            <article class="features__item">
                <img width="50" class="features__item-img" src="img/brush.png" alt="brush">
                <h3 class="features__item-title">Fastest way to take action
                </h3>
                <p class="features__item-description">Slate helps you see how many more days you need to work to reach
                    your
                    financial goal.</p>
            </article>
        </div>
        <div class="features__video">
            <img class="video" src="img/video.png" alt="video">
            <img class="video__button" width="80" src="img/play-button.png" alt="button">
        </div>
    </div>
</section>