<section id="testimonials">
    <div class="container">
        <div class="testimonial">
            <h2 class="testimonial__title">Testimonials</h2>
            <img class="testimonial__logo" src="img/brand-logo.png" alt="brand-logo">
            <p class="testimonial__review">Most calendars are designed for teams. Slate is designed for freelancers who
                want a simple way to plan their schedule.</p>
            <div class="person">
                <img class="person__photo" src="img/person.png" alt="person">
                <div class="person__info">
                    <h3 class="person__desc">Organize across</h3>
                    <p class="person__position">Ui designer</p>
                </div>
            </div>
            <a href="#" class="btn-try">More Testimonials</a>
        </div>
    </div>
</section>