<section id="pricing">
    <div class="container">
        <div class="header__intro pricing">
            <h2 class="pricing__title">Pricing</h2>
            <p class="pricing__subtitle">Most calendars are designed for teams. Slate is designed for freelancers</p>
        </div>
        <div class="cards__container">
            <article class="card__item">
                <h3 class="card__title">FREE</h3>
                <h4 class="card__subtitle">Organize across all apps by hand</h4>
                <div class="cost">
                    <p class="cost__number">0<sup>$</sup><span>Per Month</span></p>
                </div>
                <div class="benefits">
                    <ul class="list">
                        <li>Pricing Feature</li>
                        <li>Pricing Feature</li>
                        <li>Pricing Feature</li>
                        <li>Pricing Feature</li>
                        <li>Pricing Feature</li>
                    </ul>
                </div>
                <a href="#" class="btn-try pricing">Order Now</a>
            </article>
            <article class="card__item standart">
                <h3 class="card__title">STANDARD</h3>
                <h4 class="card__subtitle">Organize across all apps by hand</h4>
                <div class="cost">
                    <p class="cost__number">10<sup>$</sup><span>Per Month</span></p>
                </div>
                <div class="benefits">
                    <ul class="list">
                        <li>Pricing Feature</li>
                        <li>Pricing Feature</li>
                        <li>Pricing Feature</li>
                        <li>Pricing Feature</li>
                        <li>Pricing Feature</li>
                    </ul>
                </div>
                <a href="#" class="btn-try standart">Order Now</a>
            </article>
            <article class="card__item">
                <h3 class="card__title">BUSINESS</h3>
                <h4 class="card__subtitle">Organize across all apps by hand</h4>
                <div class="cost">
                    <p class="cost__number">99<sup>$</sup><span>Per Month</span></p>
                </div>
                <div class="benefits">
                    <ul class="list">
                        <li>Pricing Feature</li>
                        <li>Pricing Feature</li>
                        <li>Pricing Feature</li>
                        <li>Pricing Feature</li>
                        <li>Pricing Feature</li>
                    </ul>
                </div>
                <a href="#" class="btn-try pricing">Order Now</a>
            </article>
        </div>
    </div>
</section>