<section id="partners">
    <div class="container">
        <div class="partner__container">
            <div class="header__intro">
                <h2 class="partner__title">Partners</h2>
                <p class="partner__subtitle">Most calendars are designed for teams. Slate is designed for freelancers
                </p>
            </div>
            <div class="partners__group">
                <article class="partner__item">
                    <p class="partner__name">Client Name</p>
                    <img class="partner__img" src="img/google.png" alt="google">
                </article>
                <article class="partner__item">
                    <p class="partner__name">Client Name</p>
                    <img class="partner__img" src="img/amazon.png" alt="amazon">
                </article>
                <article class="partner__item">
                    <p class="partner__name">Client Name</p>
                    <img class="partner__img" src="img/microsoft.png" alt="microsoft">
                </article>
                <article class="partner__item">
                    <p class="partner__name">Client Name</p>
                    <img class="partner__img" src="img/uber.png" alt="uber">
                </article>
                <article class="partner__item">
                    <p class="partner__name">Client Name</p>
                    <img class="partner__img" src="img/dropbox.png" alt="dropbox">
                </article>
                <article class="partner__item">
                    <p class="partner__name">Client Name</p>
                    <img src="img/google.png" alt="google">
                </article>
                <article class="partner__item">
                    <p class="partner__name">Client Name</p>
                    <img class="partner__img" src="img/uber.png" alt="uber">
                </article>
                <article class="partner__item">
                    <p class="partner__name">Client Name</p>
                    <img class="partner__img" src="img/amazon.png" alt="amazon">
                </article>
            </div>
            <a href="#" class="btn-try partner">Try for Free</a>
        </div>
    </div>
</section>